<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
</head>
<body>
  <form>
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" />
  </form>
</body>
</html>

